@font-face {
    font-family: 'Figura Regular';
    src: url('../CSS/fonts/Figura_Regular/Figura-Regular.eot');
    src: url('../CSS/fonts/Figura_Regular/Figura-Regular.eot?#iefix') format('embedded-opentype'),
         url('../CSS/fonts/Figura_Regular/Figura-Regular.woff2') format('woff2'),
         url('../CSS/fonts/Figura_Regular/Figura-Regular.woff') format('woff');
    font-weight: 400;

}

@font-face {
    font-family: 'Figura Bold';
    src: url('../CSS/fonts/Figura_Bold/Figura_Bold/Figura-Bold.eot');
    src: url('../CSS/fonts/Figura_Bold/Figue_Bold/Figura-Bold.eot?#iefix') format('embedded-opentype'),
         url('../CSS/fonts/Figura_Bold/Figura-Bold.woff2') format('woff2'),
         url('../CSS/fonts/Figura_Bold/Figura-Bold.woff') format('woff');
    font-weight: 800;
    font-style: bold;
}


*{
    font-family: 'Figura Regular';
    margin: 0;
    box-sizing: border-box;
    color: #404040;
    
    z-index: 0;
    color: #000;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p{
    padding-bottom: 35px;
}

pre{
    color: #404040;
}
/*header*/
.header{
    width: 100%;
    height: 110px;
    background-color: #F4F1EE;
    border-bottom: 2px solid #404040;
}

.header.fixed{
    position: fixed;
    z-index: 10000;
    display: flex;
    
}
.header.show{
    background-color: #F4F1EE;
    
}

#header.show{
    background-color: #F2D8CC;
}


.container{
    width: 100%;
    max-width: 1575px;
    padding: 0 25px;
    margin: 0 auto;
}

.header_size{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    
    position: relative;
/*    background-color: #F2D8CC;*/
    
}

.choose_languages{
    font-family: 'Figura';
    font-weight: 400;
    font-size: 22px;
}

.header_menu{
    background-color: #F2D8CC; 
}


.btn_languages{
    text-transform: uppercase;
    padding-left: 22px;
    text-decoration: none;
    color: #000;
    padding: 0;
}

#btn_bold{
    margin-right: 8px;
    font-weight: 700;
}

#btn_reg{
    margin-left: 8px;
}


.btn_space{
    display: contents;
    padding-right:10px;
}

.name_center{
    width: 100%;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
}

.img_zakwasownia{
    width: 280px;
    height: 25px;
}

.icon{
    width: 100%;
    position: absolute;
    text-align: end;
}


.icon_facebook,
.icon_instagram{
    fill:#000;
    width: 22.342px;
    height: 22px;
    cursor: pointer;
    margin-left: 40px;
}



.icon_burger{
    fill:#000;
    width: 35.342px;
    height: 22px;
    cursor: pointer;
    margin-left: 45px;
}

.icon_facebook:hover,
.icon_instagram:hover,
.icon_burger:hover{
    fill:#F3C6B1;
}

.icon_instagram{
    
}

.button_burger{
    background-color: #F4F1EE;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: none;    
}

.button_burger.show{
    background-color: #F2D8CC;
}




/*------------------------------------*/




.header_menu_color{
    background-color: #F2D8CC;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    
}


.header_menu{
    display: none;
    flex-direction: column;
    text-align: center;
    
    position: fixed;
    
    right: 0;
    width: 100%;
    background-color: #F2D8CC;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;    
    height: 90%;
    
    padding-top: 180px;
    z-index: 2;
    opacity: 1;
}


.header_menu.show{
    display: flex;
}


.menu__link{
    width: 100%;
    padding: 9px 15px;
    text-decoration: none;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 20px;
    background-color: #F2D8CC;
    border-bottom: 2px solid #000;
}

.menu__link:hover{
    opacity: 0.4;
}

/*End header*/

/*Intro*/
.description{
    background-color: #F4F1EE;
    width: 100%;
}

.intro{
    font-family: 'Figura Bold';
    
}

.bistro{
    font-family: 'Figura Bold';
    padding-top: 155px;
    padding-bottom: 120px;
    font-size: 30px;
    font-weight: 800;
    
    text-transform: uppercase;
    color: #404040;
}

.witanie{
    font-family: 'Figura Regular';
    width: 100%;
    max-width: 87%;
    font-size: 90px;
    padding-bottom: 120px;
    color: #404040;
    letter-spacing: .25px;
    
}

/*End description*/


/*slide_img*/
.slide_img{
    width: 100%;
    display: block;
    
    
}
.slide{
    width: 100%;
    display: block;
}

.images{
    width: 100%;
    display: block;
}

.slick-dots{
    position: absolute;
    
    bottom: 0;
    top: 90%;
    z-index: 1;
    list-style: none;
    display: flex;
    
    text-align: center;
    margin: 0 auto;
}

.slick-next.slick-arrow{
    display: none;
    opacity: 0;
}

.slick-prev.slick-arrow{
    display: none;
    outline: none;
    border: none;
    opacity: 0;
}

.slick-dots button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    border: none;
    text-align: center;
    align-items: center;
    
    opacity: 0.8;
    
    cursor: pointer;
    
    margin: 0 5px;
    
    font-size: 0;
}
.reviews_slider.slick-initialized.slick-slider{
    background-color: #F4F1EE;
    
}


/*End slide_img*/

/*about*/

.about{
    background-color: #F4F1EE;
    padding: 30px 0;
    
}

.o_nas_size{
    width: 100%;
    display: flex;
    padding-bottom: 80px;
    padding-top: 90px;
    background-color: #F4F1EE;
}

.o_nas{
    font-family: 'Figura Bold';
    width: 100%;
    max-width: 10%;

    font-size: 30px;
    text-transform: uppercase;
}

.about_img{
    width: 100%;
    max-width: 30%;
    padding-left: 75px;
    
    position: relative;
    padding-top: 68px;
}

.about_text{
    width: 100%;
    max-width: 60%;
    font-family: 'Figura Regular';
    font-size: 30px;
    font-weight: 500;
    color: #404040;
    line-height: 38px;
    
}
/*End about*/


.klients{
    padding-bottom: 50px;
    background-color: #F4F1EE;
}
.gate{
    display: flex;
    width: 100%;
    height: 800px;
    border: 2px solid #000;
}

.review_klients{
    width: 50%;
    border-right: 2px solid #000;
    
    position: relative;
}

.name_klients_size{
    width: 100%;
    height: 120px;
    border-bottom: 2px solid #000;
    position: relative;
}

.name_klients{
    display: flex;
    position: absolute;
    padding: 45px 60px 0;
    
    font-family: 'Figura Bold';
    font-size: 30px;
    font-weight: 900;
}

.description_klients_size{
    position: relative;
    
}

.description_klients{
    position: absolute;
    padding: 60px;
    
    font-family: 'Figura Regular';
    
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 1.2;
    color: #404040;
}

.images_klients{
    width: 50%;
    position: relative;
    overflow: hidden;
}

.img_klients{
    height: 100%;
    width: 100%;
    
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    
    justify-content: center;
}














