@font-face {
    font-family: 'Figura Regular';
    src: url('/Figura-Regular.eot');
    src: url('/Figura-Regular.eot?#iefix') format('embedded-opentype'),
         url('/Figura-Regular.woff2') format('woff2'),
         url('/Figura-Regular.woff') format('woff');
    font-weight: 400;

}
@font-face {
    font-family: 'Figura_Bold';

    src: url('../CSS/fonts/Figura_Bold/Figura-Bold.eot');

    src: url('../CSS/fonts/Figura_Bold/Figura-Bold.woff') format('woff'),
        
    url('../CSS/fonts/Figura_Bold/Figura-Bold.woff2') format('woff2');

    font-weight: **900**;

    font-style:;
}

* {
    font-family: 'Figura_Regular';
    margin: 0;
    box-sizing: border-box;
    
    
    z-index: 0;
    color: #000;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p{
    padding-bottom: 25px;
}
/*header*/
.header{
    width: 100%;
    background-color: #F4F1EE;
    border-bottom: 1.5px solid #404040;
}

.header.fixed{
    position: fixed;
    z-index: 10000;
    display: flex;
    
}
.header.show{
    background-color: #F4F1EE;
    
}

#header.show{
    background-color: #F2D8CC;
}


.container{
    width: 100%;
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
}

.header_size{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 0;
/*    background-color: #F2D8CC;*/
    
}

.header_menu{
    background-color: #F2D8CC; 
}


.btn_languages{
    text-transform: uppercase;
    padding-left: 22px;
    text-decoration: none;
    color: #000;
    padding: 0;
}

#btn_bold{
    margin-right: 8px;
    font-weight: 700;
}

#btn_reg{
    margin-left: 8px;
}


.btn_space{
    display: contents;
    padding-right:10px;
}

.name_center{
    padding-left: 80px;
    text-align: center;
    margin: 0 auto;
    
}


.icon_facebook,
.icon_instagram{
    fill:#000;
    width: 38px;
    height: 18px;
    cursor: pointer;
}

.icon_burger{
    fill:#000;
    width: 45px;
    height: 18px;
}

.icon_facebook:hover,
.icon_instagram:hover,
.icon_burger:hover{
    fill:#F3C6B1;
}

.icon_instagram{
    margin: 0 20px;
    padding: 0 10px;
}

.button_burger{
    background-color: #F4F1EE;
    border: 0;

    cursor: pointer;
    outline: none;    
}


.button_burger.show{
    background-color: #F2D8CC;
}




/*------------------------------------*/




.header_menu_color{
    background-color: #F2D8CC;
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    
}


.header_menu{
    display: none;
    flex-direction: column;
    text-align: center;
    
    position: fixed;
    
    right: 0;
    width: 100%;
    background-color: #F2D8CC;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;    
    height: 90%;
    
    padding-top: 180px;
    z-index: 2;
    opacity: 1;
}


.header_menu.show{
    display: flex;
}


.menu__link{
    width: 100%;
    padding: 9px 15px;
    text-decoration: none;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 20px;
    background-color: #F2D8CC;
    border-bottom: 2px solid #000;
}

.menu__link:hover{
    opacity: 0.4;
}

/*End header*/

/*Intro*/
.description{
    background-color: #F4F1EE;
}

.intro{
    font-family: 'Figura_Bold';
    
}

.bistro{
    padding-top: 130px;
    padding-bottom: 100px;
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.witanie{
    width: 100%;
    max-width: 1150px;
    font-size: 70px;
    padding-bottom: 150px;
}

/*End description*/


/*slide_img*/
.slide_img{
    width: 100%;
    height: 750px;
    
    
}
.slide{
    width: 100%;
}

.images{
    width: 100%;
    height: 750px;
}

.slick-dots{
    position: absolute;
    
    bottom: 0;
    top: 90%;
    z-index: 1;
    list-style: none;
    display: flex;
    
    text-align: center;
    margin: 0 auto;
}

.slick-next.slick-arrow{
    display: none;
    opacity: 0;
}

.slick-prev.slick-arrow{
    display: none;
    outline: none;
    border: none;
    opacity: 0;
}

.slick-dots button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    border: none;
    text-align: center;
    align-items: center;
    
    opacity: 0.8;
    
    cursor: pointer;
    
    margin: 0 5px;
    
    font-size: 0;
}
.reviews_slider.slick-initialized.slick-slider{
    background-color: #F4F1EE;
    
}


/*End slide_img*/

/*about*/

.about{
    background-color: #F4F1EE;
}
.o_nas_size{
    padding-top: 90px;
    background-color: #F4F1EE;
}

.o_nas_size{
    display: flex;
    padding-bottom: 70px;
}

.o_nas{
    width: 220px;
    font-weight: 900;
    font-size: 22px;
    text-transform: uppercase;
}

.about_img{
    padding-left: 140px;
    padding-right: 210px;
    position: relative;
    padding-top: 60px;
}

.about_text{
    font-family: 'Figura_Regular';
    font-size: 22px;
    font-weight: 500;
}
/*End about*/


.klients{
    padding-bottom: 50px;
    background-color: #F4F1EE;
}
.gate{
    display: flex;
    width: 100%;
    height: 600px;
    border: 2px solid #000;
}

.review_klients{
    width: 50%;
    border-right: 2px solid #000;
    
    position: relative;
}

.name_klients_size{
    width: 100%;
    height: 80px;
    border-bottom: 2px solid #000;
    position: relative;
}

.name_klients{
    display: flex;
    position: absolute;
    top: 32%;
    left: 7%;
    
    font-size: 22px;
    font-weight: 900;
}

.description_klients_size{
    position: relative;
    
}

.description_klients{
    position: absolute;
    left: 7%;
    
    padding: 40px 55px 0 0;
    font-size: 22px;
    
    letter-spacing: 1.2;
}

.images_klients{
    width: 50%;
    
    overflow: hidden;
}

.img_klients{
    width: auto;
    height: 100%;
    
}














